// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f1f1f1 !important;
  p {
    hyphens: none
  }
}

body {
  span, .command{
    font-family: sans-serif !important;
    font-size: 16px;
  }
  .icon {
    max-width: 30px;
  }
}

// Typography Overrides
.text-white {
  color: $white;
}

.display {
  &-large {
    font-size: 4em !important;
    letter-spacing: -.05em
  }

  &-medium {
    font-size: 3em !important;
  }

  &-small {
    font-size: 2em !important;
  }
}



.container.header {
  background: #f3f3f3;
}
.body-drip {
  border-top: 8px solid #663399;
}


.bg-primary
.wrapper-inner{
    background-color: darken($primary-color, 10%);
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    span {
      @extend .text-white;
    }
}

// Full Width Headers
.header {
  background: #fff;
}
.bg-none {
  background: none;
}
.header .columns {
  padding-bottom: 0;
}


.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 15px;
}

.header .container {
  background: transparent;
}

.wrapper.secondary {
  background: #f1f1f1;
}
