<table class="wrapper secondary" align="center">
    <tr>
        <td class="wrapper-inner">
            <table class="spacer">
                <tbody>
                    <tr>
                        <td height="40px" style="font-size:40px;line-height:40px;">&#xA0;</td>
                    </tr>
                </tbody>
            </table>
            <table class="row">
                <tbody>
                    <tr>
                        <a href="https://www.vinklubben.se/erbjudanden/?utm_source=mail&utm_campaign=Nya%20Vinklubben">
                            <img class="float-center" src="https://gallery.mailchimp.com/d9cbc15c3e5104be9a56365e6/images/4f836b91-b898-467e-9510-82344c15e698.png" alt="Vinklubben Logo"></a>
                    </tr>
                </tbody>
            </table>
            <table class="row">
                <tbody>
                    <tr><br>
                        <p class="text-center">Klicka här för att gå till <a href="https://www.vinklubben.se">vinklubben.se</a>
                        </p>


                        <p class="text-center"><a href="*|UNSUB|*">Klicka här</a> om du inte vill ha några fler mail från vinklubben.se
                        </p>
                        <p class="text-center"><a href="*|ARCHIVE|*" target="_blank">Visa p&aring; webben</a></p>

                    </tr>
                </tbody>
            </table>
            <table class="spacer">
                <tbody>
                    <tr>
                        <td height="80px" style="font-size:80px;line-height:80px;">&#xA0;</td>
                    </tr>
                </tbody>
            </table>

        </td>
    </tr>
</table>
